@font-face {
    font-family: 'DINPro';
    src: url('../fonts/DINPro.eot');

    src: url('../fonts/DINPro.eot') format('embedded-opentype'),
         url('../fonts/DINPro.woff2') format('woff2'),
         url('../fonts/DINPro.woff') format('woff'),
         url('../fonts/DINPro.ttf') format('truetype'),
         url('../fonts/DINPro.svg#DINPro') format('svg');
}
