
///////////////////////////////////////////// заготовки
$background-white:#F7F5FA;
$background-block:#FFFFFF;
$background-gray:#878787;
$background-body:#E5E5E5;
$background-black:#161616;
$font:DINPro;
$color-orang:#F47821;
$color-black:#222222;
$color-gray:#878787;
$border-gray:#EDEDED;








html {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
  background:$background-white;

}

div{
  box-sizing: border-box;
}


.cont-1{

  margin-left: auto;
  margin-right: auto;


}

.wrapper-1 {
  background:$background-block;
  width: 100vw;
  padding-top: 70px;
  height: 800px;
}


.cont-1 h1{
  font-family: $font;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.02em;
}
.cont-1 p{

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-top: -20px
}

.cont-1 svg{
  width: 14px;
  position: absolute;
  z-index: 1;
  margin: 20px;
  height: 14px;
}
#btn{
  margin-left: auto;
  margin-right: auto;
  width: 206px;
  color:$color-black ;
  height: 54px;
  position: relative;

}
#btn p{
  position: absolute;
  left: 22%;
  top:69%;
  white-space: pre;
  font-family: Gilroy;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #222222;
}
.btn > p {
  margin-top: 32px;
  font-size: 16px;
  line-height: 20px;
  margin-left: 54px;
}
.circule{
  position: absolute;
  opacity: 0.05;
  z-index: 1;
  height: 54px;
  transition: 1s;
  width: 54px;
  border-radius: 50%;
  background:$background-gray;
}
.circule-active{
  position: absolute;
  opacity: 0.05;
  height: 54px;
  transition: 1s;
  width: 206px;
  border-radius: 100px;
  background:$background-gray;
}

.cont-1 span{
  color:$color-orang;
}

.wrapper-2 {
  box-sizing: border-box;
  min-height: 100vh;
  text-align: center;
  padding-top: 20%;
  transform-style: inherit;
  width: 100vw;
}
.wrapper-2::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  transform-origin: center;
  min-height: 100vh;
  background-image: url('file:///C:/project_test/public_html/img/Rectangle.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
  transform: translateZ(-1px) scale(2);
}
.wrapper-2 {
  margin-top: -100px;
  font-size: 42px;
}

.wrapper-3 {
  box-sizing: border-box;
  min-height: 464px;
  text-align: center;
  padding-top: 20%;
  transform-style: inherit;
  width: 100vw;
}
.wrapper-3::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  transform-origin: center;
  min-height: 464px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 1s;
  transform: translateZ(-1px) scale(2);
}

.wrapper-4{
  margin-top: 10vh;
  height: 100vh;
  background: $background-block;
  width: 100vw;
  padding:80px 20% 100px 20% ;
  color: #222222;

}
.wrapper-4 p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #4E4D53;
}
.wrapper-4 h1{

  font-family: DIN Pro;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #222222;

}
.wrapper-5{
  min-height: 80vh;
  width: 100vw;
  padding-top: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(326px,1fr));
  grid-gap:0 34px;
  padding-left: 10%;
  padding-right: 10%;

}
.wrapper-5 h1{
  font-family: $font;
  font-size: 40px;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;

}
.wrapper-5-sect{
  padding: 35px;

}
.wrapper-5-sect h4{
  color: #000000;
  font-family: $font;
  font-size: 20px;
  line-height: 25px;
}
.wrapper-5-sect p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #4E4D53;
}

.content-paralax{
  background:$background-block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill,minmax(486px,1fr));
  grid-template-rows: 1fr 1fr;
  min-height: 464px;
  font-size: 42px;
}

.content-paralax-sec{
  padding: 8% 4% 2% 60px;

}
.content-paralax-sec:nth-child(1){
  border-top: 1px solid $border-gray;
  border-right: 1px solid$border-gray;
  border-bottom: 1px solid  $border-gray;
  border-left: 1px solid $border-gray;
}
.content-paralax-sec:nth-child(2){
  border-top: 1px solid $border-gray;
  border-right: 1px solid$border-gray;
  border-bottom: 1px solid  $border-gray;
  border-left: 1px solid $border-gray;
}
.content-paralax-sec:nth-child(3){
  border-top: 1px solid $border-gray;
  border-right: 1px solid$border-gray;
  border-bottom: 1px solid  $border-gray;
  border-left: 1px solid $border-gray;
}
.content-paralax-sec:nth-child(4){
  border-top: 1px solid $border-gray;
  border-right: 1px solid$border-gray;
  border-bottom: 1px solid  $border-gray;
  border-left: 1px solid $border-gray;
}
.content-paralax-sec h6{
  text-align: left;
  margin: 0;
  font-family:$font;
  font-size: 12px;
  line-height: 19px;/* identical to box height */
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color:$color-orang;
}

.content-paralax-sec p{
  text-align: left;
  font-family: $font;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #222222;
}
.wrapper-6{
  min-height: 100vh;
  background: $background-black;
  width: 100vw;
  font-family: $font;
  padding-left: 20%;
  padding-top: 50px;
  padding-right: 20%;
}
.wrapper-6 h2{
  text-align: center;
  font-size: 40px;
  line-height: 52px;
  color: $background-block;
}

.section{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 70px;
  grid-template-rows: 1fr;

}
#in-1,#in-2,#in-3{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background: $background-black;
  border:none;
  height: 35px;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: rgba(247, 248, 250, 0.11);;
  border-bottom: 2px solid rgba(247, 248, 250, 0.11);
}
#in-1:focus{
  color: #FFFFFF;
  border-bottom: 2px solid  #FFFFFF;
}
#in-2:focus{
  color: #FFFFFF;
  border-bottom: 2px solid  #FFFFFF;
}
#in-3:focus{
  color: #FFFFFF;
  border-bottom: 2px solid  #FFFFFF;
}
.section span{
  color:$color-orang;
  position: absolute;
  border: 2px solid rgba(247, 248, 250, 0.11);
  left: 10%;
  top: -10%;
  width:64px;
  height:65px;
  display:block;
  border-radius:50px;
  font-size:20px;
  line-height:60px;
  text-align:center;
}
 input[type=submit]{
  background: #FFFFFF;
   border: none;
   margin: auto;
   margin-top: 30px;
   margin-bottom: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 111px;
   height: 54px;
   color: $color-orang;
   font-family: Gilroy;
   font-size: 14px;
   line-height: 17px;
   width: 60%;
   letter-spacing: 0.04em;
   text-transform: uppercase;
}
.section label{
  font-size: 16px;
  margin-left: 20%;
  margin-right: auto;
  line-height: 25px;
  font-family: $font;
  margin-bottom: 10px;
  margin-top: 10px;
  color:$background-white;

}

textarea{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background: $background-black;
  border:none;
  resize: none;
  height: 70px;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: rgba(247, 248, 250, 0.11);;
  border-bottom: 2px solid rgba(247, 248, 250, 0.11);
}
textarea:focus{
  color: #FFFFFF;
  border-bottom: 2px solid  #FFFFFF;
}

#form-1{
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 375px) {
  .content-paralax{
    width: 100%;
    grid-template-columns: repeat(auto-fill,minmax(375px,1fr));
  }
  .content-paralax-sec{
    padding: 2%;

  }
  .content-paralax-sec p{
    padding: 2%;
    font-size:calc(24px - 0.1em) ;
  }
  .wrapper-4{
    padding:2%;
  }
  .wrapper-5{
    padding-left: 1%;
    padding-right: 1%;
    grid-gap:0 10px;
  }
  .wrapper-5-sect{
    padding: 5px;
  }
  .wrapper-6{
    padding-left: 2%;
    padding-right: 2%;
  }

}
@media screen and (max-width: 1200px) {
  .section span{
  display: none;
  }
}

